{{#unless item.isDeleted}}
  {{#paper-item class="md-2-line" onClick=(action "clickItem") as |controls|}}
    <img src="https://picsum.photos/80/80?blur" alt="Tomster" class="md-avatar">
    <div class="md-list-item-text">
      <h3>{{item.name}}</h3>
      <p>Some longer notes here could be here. But they aren't.</p>
    </div>
    <div class="md-secondary-container">
      {{#controls.button iconButton=true onClick=(action "clickEdit" item)}}
        {{paper-icon "edit"}}
        {{#paper-tooltip}}Edit warranty{{/paper-tooltip}}
      {{/controls.button}}
      {{#controls.button iconButton=true onClick=(action "clickDelete" item)}}
        {{paper-icon "delete"}}
        {{#paper-tooltip}}Delete warranty{{/paper-tooltip}}
      {{/controls.button}}
    </div>
  {{/paper-item}}
{{else}}
  {{#paper-toast duration=3000 onClose=(action "closeToast") as |toast|}}
  {{#toast.text}}{{item.name}} has been deleted{{/toast.text}}
    {{#paper-button accent=true onClick=(action "clickUndo")}}Undo{{/paper-button}}
  {{/paper-toast}}
{{/unless}}
