{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">
    {{#paper-list}}
      {{#paper-card}}
        {{#each this.model as |warranty|}}
          <WarrantyItem
            @item={{warranty}}
            @onClick={{action "goToWarranty" warranty}}
            @onClickEdit={{action "editWarranty" warranty}}
            />
          {{#unless (eq warranty this.model.lastObject)}} {{paper-divider}} {{/unless}}
        {{/each}}
      {{/paper-card}}
    {{/paper-list}}

    {{#paper-button
      raised=true
      fab=true
      accent=true
      class="new-warranty-fab"
      onClick=(action "goToNewWarranty")}}
      {{paper-icon "add" size=24}}
    {{/paper-button}}
  </div>
{{/paper-content}}
